/* form.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border: 2px solid #27ae60;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input[type="text"],
form input[type="number"],
form select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

form select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%23333;"><polygon points="8,12 0,0 16,0"></polygon></svg>') no-repeat right #ffffff;
    background-size: 12px;
}

form input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #27ae60; /* Bright Green */
    color: #ffffff; /* White */
    border: none;
    border-radius: 5px; /* Rounded border */
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

form input[type="submit"]:hover {
    background-color: #1e8449; /* Slightly darker shade of the button color on hover */
}

a {
    display: block;
    width: 200px;
    padding: 10px;
    background-color: #27ae60; /* Bright Green */
    color: #ffffff; /* White */
    text-align: center;
    text-decoration: none;
    border-radius: 5px; /* Rounded border */
    margin: 10px auto;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #1e8449; /* Slightly darker shade of the button color on hover */
}
